body * {
    box-sizing: border-box;
}
  
$grid: 24px;
$colorGray: #989898;
$nodeWidth: 84px;

@mixin pseudoStyles($width, $height) {
    content: '';
    display: block;
    width: $width;
    height: $height;
    background-color: $colorGray;
    position: absolute;
    z-index: 20;
}

.parent-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;

    &.gray {
        color: #aaa;
        pointer-events: none;
        opacity: 0.5;
    }
}

.leaf-node {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 11px;

    &.gray {
        color: #aaa;
        pointer-events: none;
        opacity: 0.5;
    }
}

.taxonomy-tree {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    margin-left: -20px;

    .column-names {
        display: flex;
        flex-direction: row;
        height: 30px;
        width: 100%;

        .column {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 132px;
            font-size: 14px;
            font-weight: 600;

            &__first {
                width: 108px;
            }

            &__last {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 274px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    .node {
        display: flex;

        &__parent {
            position: relative;
            width: $nodeWidth;

            &__line {
                position: absolute;
                width: 1.5px;
                background-color: $colorGray;
                right: calc(100% + #{$grid});
                z-index: 10;
            }

            &__element { 
                min-width: $nodeWidth;
                width: 100%;
                margin-bottom: $grid / 2;
                display: flex;
                align-items: center;
                border: #000000 1px solid;
                background-color: #EBEDFF;
                font-size: 11px;
    
                &.has-children:after {
                    @include pseudoStyles(2 * $grid, 1.5px);
                    left: 100%;
                }
          
                &.has-parent:before {
                    @include pseudoStyles($grid, 1.5px);
                    right: 100%;
                }
          
                &:last-child {
                    margin-bottom: 0;
                }

                &.is-root {
                    background-color: #ffffff;
                    border: none;
                    font-size: 14px;
                    font-weight: 600;
                }

                &.is-dotted {
                    border: $colorGray 1px dashed;
                    background-color: #ffffff;
                }
            }
        }

        &__children {
            margin-left: $grid * 2;
            position: relative;
            flex: 1;
        }

        &__leafs {
            position: relative;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0px 5px;
            width: 250px;
            margin-left: 48px;
            padding: 2px 10objepx;
            border: #000000 1px solid;

            &__leafcontainer {
                position: relative;
            }
        }
    }

    .vertical-phase-line {
        position: absolute;
        border-left: 1px dashed black;
        height: 72px;
        width: 1px;
        top: 44px;
        left: 108px;
    }

    .horizontal-phase-line {
        position: absolute;
        border-bottom: 1px dashed black;
        width: 24px;
        left: 108px;

        &.liquid {
            top: 80px;
        }

        &.gas {
            top: 116px;
        }
    }

    .dotted-phase-node {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #000000 1px dashed;
        width: $nodeWidth;
        height: 27px;
        font-size: 11px;

        &.liquid {
            top: 66px;
            left: 132px;
        }
        &.gas {
            top: 102px;
            left: 132px;
        }
    }
}

.tooltip {
    position: absolute;
    top: 30px;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 240px;
    background-color: white;
    border: 1px solid $colorGray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    pointer-events: none;
    white-space: nowrap; 
}